@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$green: #77bfa3;
$red: #cc704e;
$blue: #7893e7;
$gray: #9ab0a6;
$white-shade: #ffffff60;
$text-primary: #001b00;

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: $text-primary;
}

.container {
  margin: 16px;
}

.modal {
  height: 100vh;
  background-color: $green;
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
  }
  .custom {
    background-color: whitesmoke;
  }
  .modal-content {
    position: relative;
    height: 50%;
    border-radius: 16px 16px 0px 0px;
    img {
      position: absolute;
      bottom: -16px;
      left: 30%;
      width: 136px;
      height: 136px;
      z-index: 2;
    }
    .tabs {
      display: flex;
      justify-content: space-evenly;
      p {
        margin: 0px;
        font-size: 16px;
      }
      .active {
        border-bottom: 1px solid black;
      }
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  gap: 8px;
  .card {
    background-color: whitesmoke;
  }
  .card-green {
    background-color: $green;
  }
  .card-red {
    background-color: $red;
  }
  .card-blue {
    background-color: $blue;
  }
  .card-gray {
    background-color: $gray;
  }
  .card,
  .card-green,
  .card-red,
  .card-blue,
  .card-gray {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(140, 140, 140);
    p {
      margin: 0;
      font-size: 12px;
      font-weight: 700;
    }
    .type-btn {
      background: $white-shade;
      text-align: center;
      font-size: 8px;
      font-weight: 400;
      border-radius: 8px;
      margin: 4px 0px;
      padding: 4px;
      width: 32px;
    }
    img {
      width: 56px;
      height: 56px;
    }
  }
}
